.hover-highlight:hover {
  background-color: var(--gray-50);
}

.view-container {
  background: var(--gray-50);
  padding: 20px;
}

.view-card {
  width: 70%;
  margin: auto;
  font-size: 15px;
}

.view-text {
  font-size: 15px;
}
